# Lecture 3 – Aggregation, Least Squares, and Regression

## DSC 10, Winter 2022

In [ ]:
import numpy as np
import pandas as pd

## Verifying Tycho Brahe's calculation of means

The units to be aware of:

- 1º (1 degree) = 4 minutes (because 15º = 1 hour and 360º = 24 hours)
- 1' (1 arcminute) = 1/60th of a degree
- 1" (1 arcsecond) = 1/3600th of a degree

Let's start by writing a function that takes a time measurement in degrees, arcminutes, and arcseconds into regular time minutes.

In [ ]:
def time_minutes(deg, arcmin, arcsec):
    total_deg = deg + arcmin / 60 + arcsec / (60 ** 2)
    
    # Each degree is 4 minutes
    return total_deg * 4

Let's try it out.

In [ ]:
time_minutes(82, 15, 10)

In [ ]:
d1 = time_minutes(26, 4, 16)
d1

In [ ]:
d2 = time_minutes(25, 56, 23)
d2

Now, we've converted both 26º 4' 16" and 25º 56' 23" to regular minutes. We can find the mean number of minutes between `d1` and `d2`:

In [ ]:
(d1 + d2) / 2

Tycho Brahe reported that the mean of 26º 4' 16" and 25º 56' 23" is 26º 0' 20"; we can verify this ourselves:

In [ ]:
time_minutes(26, 0, 20)

However, we don't yet have a way of computing a value in degrees-arcminutes-arcseconds, given a value in regular time-minutes. In other words, we don't have the **inverse** of the function `time_minutes`. Let's define such a function below.

In [ ]:
def arc_degree(time_minutes):
    # 1 degree = 4 minutes, let's think in terms of degrees
    total_deg = time_minutes / 4
    
    # First, round DOWN
    deg = np.floor(total_deg)
    
    # Compute the part left over – we need to describe this in arcminutes and arcseconds
    leftover = total_deg - deg
    
    # Each arcminute is 1/60th of a degree, so figure out the number of times 1/60 goes into the leftover
    arcmin = leftover // (1 / 60)
    
    # Compute the part left over - we need to describe this in arcseconds
    leftover = leftover - arcmin * (1 / 60)
    
    # Each arcsecond is equal to 1/3600th of a degree, so figure out the number of times 1/3600 goes into the leftover
    arcsec = leftover // (1 / 3600)
    
    return (deg, arcmin, arcsec)

Let's try this out.

In [ ]:
average_d = (d1 + d2) / 2
arc_degree(average_d)

Pretty close to what Brahe reported, which was 26º 0' 20"! What's with the discrepancy?

In [ ]:
average_d

In [ ]:
time_minutes(26, 0, 19)

In [ ]:
time_minutes(26, 0, 20)

Neither 26º 0' 19" nor 26º 0' 20" are exactly equal to the mean of 26º 4' 16" and 25º 56' 23"; the former is slightly smaller, and the latter is slightly larger. Both seem like acceptable answers.

The following is the table of Brahe's observations from lecture. We've collected just the far right column into the list `reported_results` below.

<img src='data/brahe.png' width=250>

In [ ]:
reported_results = [
    (26, 0, 44),
    (26, 0, 32),
    (26, 0, 30),
    (26, 0, 20),
    (26, 0, 38),
    (26, 0, 18),
    (26, 0, 32),
    (26, 0, 42),
    (26, 0, 37),
    (26, 0, 27),
    (26, 0, 29),
    (26, 0, 14),
    (26, 0, 4),
    (26, 0, 28),
    (26, 0, 39)
]

Average of all 15 observations (i.e. the right-most column):

In [ ]:
total_sum = 0
for result in reported_results:
    total_sum += time_minutes(*result)
total_sum = total_sum / len(reported_results)
arc_degree(total_sum)

Average of only the 12 pairwise observations:

In [ ]:
total_sum = 0
for result in reported_results[2:]:
    total_sum += time_minutes(*result)
total_sum = total_sum / len(reported_results[2:])
arc_degree(total_sum)

Brahe's final reported right ascension was 26º 0' 30", which is not far off from these results.